* {
  font-family: Roboto, sans-serif;
  margin: 0;
}

/* HEADER */

.header {
  background-color: #1f2937;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 10%;
}

.header-left {
  font-weight: bold;
}

.header-right ul {
  display: flex;
  gap: 24px;
}

.header-right a {
  color: #e5e7eb;
  text-decoration: none;
}

/* HERO SECTION */
.hero {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
  align-items: center;
  padding: 64px 10%;
}

.hero-left,
.hero-right {
  max-width: 600px;
}

.hero-left h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-left p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 16px 16px 16px 0;
}

.sign-up-btn {
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 32px;
}

/* INFO SECTION */
.info {
  text-align: center;
  padding: 48px 10%;
}

.info h2 {
  font-size: 36px;
  font-weight: 900;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  margin: 24px 0;
}

.card {
  width: 100px;
}

.card-img {
  width: 100px;
  height: 100px;
  border: solid #3882f6;
  border-radius: 10px;
}

.card-text {
  color: #333;
  font-size: 14px;
}

/* QUOTE SECTION */
.quote {
  background-color: #e5e7eb;
  padding: 48px 10%;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.quote p {
  text-align: right;
  font-size: 18px;
  font-weight: 900;
}

/* CTA SECTION */
.cta {
  padding: 64px 10%;
}
.container {
  display: flex;
  background-color: #3882f6;
  padding: 32px 64px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.cta-btn {
  border: 2px solid white;
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  padding: 8px 32px;
}

.cta-btn:hover,
.sign-up-btn:hover {
  cursor: pointer;
}

.footer {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  padding: 32px;
}
